<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form class="form-horizontal" action="/subject" method="post">
  <div class="form-group">
    <label class="control-label col-sm-2" for="text">name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="text" placeholder="Enter name" name="name">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="text">subject:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="text" placeholder="Enter name" name="sub">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>


</body>
</html>