{% extends "layout.html" %}
{% block body%}
        <!-- Page Header-->
        <header>
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<div class="container">

        <div class="col-lg-8 col-mg-10 mx-auto">
            <h1>Upload a file</h1>
           we will add file  upload here
            <h1>add/Edit Posts</h1>
              <form action="/edit/{{id}}" method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating">
                                    <input class="form-control"  name='title' id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="tagline" type="text" name='tagline' placeholder="Enter content" data-sb-validations="required,email" />
                                    <label>Tagline</label>

                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="text" name="slug" type="text" placeholder="slug" data-sb-validations="required" />
                                    <label>slug</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">slug</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="content" name="content" placeholder="content" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label>Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">content required</div>
                                </div>
                                 <div class="form-floating">
                                    <textarea class="form-control" id="img_file" name="img_file" placeholder="select image" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label>Imagefile</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">content required</div>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton"   onclick="fun()" type="submit">Submit</button>
              </form>

        </div>

    </div>


{% endblock %}















